-----
cv2                 4.6.0
detectron2          0.6
matplotlib          3.6.1
numpy               1.23.3
session_info        1.0.0
torch               1.11.0+cu113
torchvision         0.12.0+cu113
-----
PIL                         9.2.0
absl                        NA
antlr4                      NA
attr                        21.4.0
backcall                    0.2.0
brotli                      NA
certifi                     2022.09.24
cffi                        1.15.1
chardet                     4.0.0
charset_normalizer          2.0.4
cloudpickle                 2.0.0
colorama                    0.4.5
cycler                      0.10.0
cython_runtime              NA
dateutil                    2.8.2
debugpy                     1.5.1
decorator                   5.1.1
defusedxml                  0.7.1
dill                        0.3.4
django                      4.1.2
entrypoints                 0.4
fairscale                   0.4.12
filelock                    3.8.0
fvcore                      0.1.5.post20220512
google                      NA
huggingface_hub             0.10.0
idna                        3.3
importlib_metadata          NA
iopath                      0.1.9
ipykernel                   6.15.2
ipython_genutils            0.2.0
jedi                        0.18.1
kiwisolver                  1.4.4
matplotlib_inline           0.1.6
mpl_toolkits                NA
nt                          NA
ntsecuritycon               NA
omegaconf                   2.2.3
packaging                   21.3
parso                       0.8.3
pickleshare                 0.7.5
pkg_resources               NA
portalocker                 2.5.1
prompt_toolkit              3.0.20
psutil                      5.9.0
pycocotools                 NA
pydev_ipython               NA
pydevconsole                NA
pydevd                      2.6.0
pydevd_concurrency_analyser NA
pydevd_file_utils           NA
pydevd_plugins              NA
pydevd_tracing              NA
pygments                    2.11.2
pyparsing                   3.0.9
pythoncom                   NA
pywintypes                  NA
requests                    2.28.1
setuptools                  63.4.1
six                         1.16.0
socks                       1.7.1
sphinxcontrib               NA
storemagic                  NA
tabulate                    0.9.0
tensorboard                 2.10.1
termcolor                   NA
timm                        0.6.11
tornado                     6.2
tqdm                        4.64.1
traitlets                   5.1.1
typing_extensions           NA
urllib3                     1.26.11
wcwidth                     0.2.5
win32api                    NA
win32com                    NA
win32con                    NA
win32file                   NA
win32security               NA
winerror                    NA
yacs                        NA
yaml                        6.0
zipp                        NA
zmq                         23.2.0
-----
IPython             7.31.1
jupyter_client      7.3.5
jupyter_core        4.11.1
notebook            6.4.12
-----
Python 3.8.13 (default, Mar 28 2022, 06:59:08) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.22526-SP0